*{
  margin: 0;
  padding: 0;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.15rem;
  z-index: 30;
}

.js-main-nav-bar--transparent {
  --color-background: none;
  --color-foreground: #fff;
  --color-button-background: #05a081;
  --color-button-foreground: #fff;
  --color-search-bar-background: none;
  --color-search-bar-background-focus: none;
  --color-search-bar-placeholder: none;
}

hide-when-mid-size-and-smaller a:hover{
  opacity: 0.5;
}
.main-nav-bar__sub-nav__item.rd__button, .main-nav-bar__sub-nav__item.rd__button:hover {
  z-index: 200;
  color: #fff;
  color: var(--color-foreground,#fff);
  background: 0 0;
  opacity: 0.5;
}

.navbar__elements {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: -2.15rem;
}
.navbar__elements__el {
  margin-right: 2.15rem;
}
li:last-child {
  margin-right: 0;
}
.navbar__elements__el__a {
  display: block;
  font-size: 17px;
  line-height: 1;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  text-decoration: none;
  background: 0 0;
  padding: 0;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  transition: 0.1s opacity ease;
  white-space: nowrap;
}
.navbar__elements__el__a:hover {
  color: rgb(203, 203, 203);
}
.navbar__elements__el__button {
  display: block;
  font-size: 17px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  white-space: nowrap;
  color: #fff;
  background-color: rgb(5, 160, 129);
  padding: 0.8rem 2rem;
  transition: 0.1s transform ease;
  font-weight: 600;
}
.navbar__elements__el__button:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(5, 160, 129, 0.8);
}
.dropdown {
  position: relative;
  width: 100%;
}
.dropdown__el {
  position: absolute;
  right: 0;
  top: 100%;
  min-width: 320px;
  cursor: default;
  text-shadow: none;
  z-index: 28;
  transform: scale(0);
}
.drop.active .dropdown__el {
  transform: scale(1);
}
.dropdown__el__content {
  position: relative;
  width: 100%;
  height: 100%;
  right: auto;
  left: 15px;
  margin-top: 0.6rem;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
  text-align: left;
  padding: 0;
  z-index: 0;
}
.dropdown__el__content-triangle {
  right: 15px;
  left: auto;
  content: '';
  position: absolute;
  z-index: -1;
  top: -4.95px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 2px;
  transform: rotate(45deg);
  box-shadow: -3px -3px 5px rgba(82, 95, 127, 0.04);
}
.dropdown__el__content__elements {
  list-style: none;
  margin: 0;
  padding: 0.6rem 0;
  z-index: 1;
}
.dropdown__el__content__el {
  display: inline;
  align-items: center;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.dropdown__el__content__el:hover {
  background-color: rgb(232, 232, 232);
}
.dropdown__el__content__el a,
.dropdown__el__content__el div {
  display: block;
  color: #5e5e5e;
  width: 100%;
  height: 100%;
  padding: 0.6rem 1.15rem;
  text-decoration: none;
  background: 0 0;
  border: none;
  text-align: left;
  cursor: pointer;
}
.locale__flag {
  vertical-align: middle;
  margin-left: 10px;
}
.dropdown__el__content__footer {
  padding: 0.6rem;
}
.button__drop {
  color: #232a34;
  fill: #232a34;
  margin-right: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
.button__drop:hover {
  background: #232a34;
  fill: #fff;
  color: #fff;
}
.navbar__elements__el__a svg {
  fill: #fff;
}

.search-photos {
  padding-top: 64px;
}

.phot-col__photos__el {
  margin-bottom: 1.45rem;
}
.phot-col__photos__el__article {
  position: relative;
  display: block;
  z-index: 0;
}

.phot-col__photos__el--hov {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  opacity: 1;
  transform: scale(0);
}
.phot-col__photos__el:hover .phot-col__photos__el--hov {
  transform: scale(1);
}
.photo-item__img {
  display: block;
  width: 100%;
  height: auto;
}
.phot-col__photos__el__author {
  max-width: calc(100% - 70px);
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 1.15rem;
  padding-left: 1.15rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  z-index: 10;
}
.phot-col__photos__el__author__avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  z-index: 10;
}
.phot-col__photos__el__author__name {
  box-sizing: content-box;
  max-width: calc(100% - 40px);
  margin-right: 40px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.8);
}
.phot-col__photos__el__author__name:hover {
  color: #fff;
}
.phot-col__photos__el__tabs {
  position: absolute;
  transition: 0.2s !important;
  display: flex;
  bottom: 0;
  right: 0;
  padding-bottom: 1.15rem;
  padding-right: 1.15rem;
  color: rgba(255, 255, 255, 0.8);
}
.phot-col__photos__el__tabs__el > i {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-style: normal;
  z-index: 10;
}
.phot-col__photos__el__tabs__el > i > svg {
  fill: rgba(255, 255, 255, 0.8);

}
.phot-col__photos__el__tabs__el:hover > i > svg {
  fill: #fff;
}
.phot-col__photos__el__tabs__el {
  background: none;
  color: #fff;
  border-color: transparent;
  box-shadow: none;
  line-height: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 6px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}


 .my-masonry-grid {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1400px;
  padding: 0 10px;
}
.my-masonry-grid_column {
  padding: 0 0.725rem;
} 

footer {
  background: #071b4d;
  color: #fff;
}
/* .footer__body:not(:last-child), */
.footer__navbar:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.footer__navbar {
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* .footer__body, */
.footer__navbar {
  padding-left: 3rem;
  padding-right: 3rem;
}
.footer__navbar__list {
  overflow-x: auto;
  max-width: 100%;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.rd__button {
  line-height: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: 10px 15px;
  border: none;
}

.rd__button-group {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.loading {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 110;
  overflow: hidden;
}


@keyframes move {
  0% {
    left: 0;
  }
  75% {
    left: 100%;
  }
  100% {
    left: 110%;
  }
}

.choice {
  max-width: 1400px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
  position: relative;
  z-index: 2;
  list-style: none;
}
.choice__element {
  display: flex;
  position: relative;
  z-index: 2;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.choice__params {
  margin-right: -0.65rem;
}
.choice__format > li > a,
.choice__params--button {
  z-index: 1;
  color: rgb(94, 94, 94);
  fill: rgb(94, 94, 94);
  background: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 0.9;
  font-weight: 600;
  letter-spacing: 0.25px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6rem 1.1rem 0.6rem 0.9rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(232, 232, 232);
  border-image: initial;
  border-radius: 4px;
  text-decoration: none;
}
.choice__format > li > a:hover,
.choice__params--button:hover {
  background-color: rgb(232, 232, 232);
}
.choice__format > li > a.active,
.choice__params__el.active > button,
.choice__element > li[data-active='true'] > button {
  box-shadow: rgb(0, 100, 249) 0px 0px 0px 1px;
  color: rgb(0, 100, 249);
  fill: rgb(0, 100, 249);
  background: rgb(255, 255, 255);
  border-color: rgb(0, 100, 249);
  z-index: 2;
}
.choice__params--clear svg {
  margin-left: 0.45rem;
  margin-top: 0.1rem;
  fill: rgb(0, 100, 249);
}
.choice__element > li[data-active='true'] > button {
  background: rgba(0, 100, 249, 0.08);
}
.choice__element > li > button > div {
  display: none;
}
.choice__element > li[data-active='true'] > button > div {
  display: block;
}
.choice__params--button {
  margin-right: 0.65rem;
  border-radius: 20px;
}
.choice__format > li > a > i,
.choice__params--button > i {
  margin-right: 0.55rem;
  width: 17px;
  height: 18px;
}
.choice__format > li > a > small {
  display: block;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(158, 158, 158);
  margin-left: 4px;
}
.search-photos__header {
  margin: auto;
  max-width: 1400px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 1.325rem;
}
.search-photos__header > h1 {
  display: block;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1rem;
}
.choice__params__el__options {
  display: block;
  transform: scale(0);
  position: absolute;
  top: 100%;
  box-shadow: rgba(37, 38, 94, 0.1) 0px 4px 24px 0px;
  min-width: 200px;
  border-radius: 6px;
  padding: 10px 0px;
  background: rgb(255, 255, 255);
  list-style: none;
}
.choice__params__el.active > .choice__params__el__options {
  transform: scale(1);
}
.choice__params__el__options > li > div {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  color: rgb(94, 94, 94);
  position: relative;
  width: 100%;
  min-height: 3rem;
  padding: 0 3rem 0 1rem;
  background: 0px 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  text-decoration: none;
}
.choice__params__el__options > li:hover {
  background-color: #e8e8e8;
}
.choice__params__el__options > li > * > span {
  display: flex;
  align-items: center;
}
.choice__params--span {
  text-transform: capitalize;
}
.rd__svg-icon-search {
  margin-right: 0.55rem;
  width: 24px;
  height: 18px;
  color: rgb(94, 94, 94);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-style: normal;
}
.choice__params__el__options > li[data-active='true'] > *,
.choice__params__el__options > li[data-active='true'] svg {
  fill: rgb(0, 100, 249);
  color: rgb(0, 100, 249);
}
.choice__params__el__options > li[data-active='true'] > a::after {
  content: url(https://www.pexels.com/assets/material-icons/check-blue-1a0094b13f10451cdb5dedcee822a0ceeecab095409c3c026e127293e8991b33.svg);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0.72rem;
  right: 5.2rem;
}
.choice__params__el__opts {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #2f2f31;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1.45rem;
}
.choice__params__el__opts > li:not(:last-child) {
  border-bottom: 1px solid #2f2f31;
}
.choice__params__el__opts > li[data-active='true'],
.choice__params__el__opts > li[data-active='true'] > span {
  position: relative;
  display: flex;
  color: #fff;
  background: #2f2f31;
}
.less {
  margin-left: 0.2rem;
  font-weight: 300;
  color: #9e9e9e;
}
.choice__params__el__opts > li > * {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  color: #9e9e9e;
  width: 100%;
  border: none;
  background: 0 0;
  text-align: left;
  padding: 0.85rem 1rem;
  text-decoration: none;
}
.choice__params__el__opts > li[data-active='true'] > span::after {
  content: url(https://www.pexels.com/assets/material-icons/check-86ece4b96d4a170c2ad15d07ab2ccf33fcbf4524bbee09e441fec8d5770cc78d.svg);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0.72rem;
  right: 1.2rem;
  filter: invert(1);
  border: none !important;
}


.locale__option > span {
  margin-left: 10px;
}


@media (max-width: 1920px) {
  .my-masonry-grid {
    max-width: 1850px;
  }
  .show-when-hame-is-visible{
    display: none;
  
  }
}

@media (max-width: 1400px) {

  .show-when-hame-is-visible{
    display: none; 
  }
}

@media (max-width: 1080px) {
  .show-when-hame-is-visible{
    display: none;
  }

  .hide-when-1080 {
    display: none;
  }
  /* .switch-locale {
    width: 70%;
    left: 13%;
  } */
  .drop {
    margin-left: 2.15rem;
  }
  .choice__format {
    margin: auto;
  }
  /* .footer__body, */
  .footer__navbar {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: left;
  }
  /* .footer__body__column {
    margin-top: 1.5rem;
  } */
  /* .footer__body__column:first-child {
    margin-top: 0;
  } */
  .footer__navbar__list {
    flex-wrap: wrap;
  }

  .filters {
    display: flex;
  }
  
}

.phot-col {
  margin: auto;
  padding: 0 1.45rem;
  margin: auto;
  max-width: 1400px;
  min-height: 1500px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.phot-col__stock {
  display: flex;
  padding: 0 1.45rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.phot-col__stock__title {
  font-size: 18px;
  line-height: 26px;
  display: block;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.phot-col__stock__tendention {
  font-size: 14px;
  font-weight: 600;
  min-height: 32px;
  padding: 6px 13px;
  display: flex;
  align-items: center;
}
.phot-col__stock__tendention li {
  display: flex;
  align-items: center;
}


@media (max-width: 850px) {
  .hero__search-container__search-tags__tag-container__suggested{
    display: none!important;
  }
   /* .hero__search-container__search-tags__tag-container{
    scroll-direction: horizontal;

  }  */
  .list {
    display: inline-block;
  }
  

ul.hero__search-container__search-tags__tag-container .hero__search-container__search-tags__tag-container__tag {
  font-size: 12px!important;
}
.hero__footer{
  display:none;
}
  .navbar__logo__text {
    display: none;
  }
 
  button.phot-col__photos__el__tabs__el,
  .phot-col__photos__el__author {
    display: none;
  }

  .navbar__elements {
    display: none;
  }
  .back__content__search-elements__el__idea {
    display: none;
  }
  .orient__header {
    width: 100%;
  }
  .buttonjoin{
    display: none!important;
  }

}


.phot-col__photos__el {
  margin-bottom: 1.45rem;
}
.phot-col__photos__el__article {
  position: relative;
  display: block;
  z-index: 0;
}

.phot-col__photos__el--hov {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  opacity: 1;
  transform: scale(0);
}

.item{
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1.45rem;
}

.hero__footer__item a:hover{
  opacity: 1;
}

.hide-when-mid-size-and-smaller:hover{
  opacity: 0.5;
}

.main-nav-bar__sub-nav__item--button:hover{
  opacity: 0.5;
}
.list__el:hover {
  color: #0064f9;
}

ul.hero__search-container__search-tags__tag-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  list-style: none;
  white-space: nowrap;
  width: 100%;
  margin: 0;
  padding: 0.6rem 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}


.hero__search-container__search-tags {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

ul.hero__search-container__search-tags__tag-container li {
  display: inline-block;
}

ul.hero__search-container__search-tags__tag-container>li:last-child {
  margin-bottom: 1px;
}

ul.hero__search-container__search-tags__tag-container li a {
  text-decoration: none;
}




ul.hero__search-container__search-tags__tag-container .hero__search-container__search-tags__tag-container__tag {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  margin-right: 0.1rem;
  margin-left: 0.3rem;
  opacity: .8;
}

ul.hero__search-container__search-tags__tag-container .hero__search-container__search-tags__tag-container__tag:hover{
  opacity: 1;
  color: rgb(255, 255, 255);
}
a { 
  text-decoration: none;
}
